<style>
    .panel-style {
        width: 196px;
        background: cyan;
        height: 400px
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" id="eee" value={{{data1}}} />
                    <div id="barchart_values1" style="width: 900px; height: 600px;"></div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default panel-style">
                        <div class="panel-body">
                            <label>
                                <select class="multiselect" multiple="multiple"></select>
                            </label>
                            <br/>

                            <label>
                                <select class="multiselect1" multiple="multiple"></select>
                            </label>
                            <br/>
                            <select name="employerName" id="employerName" class="required-field isDashboard" required>
                                <option value="">Select Employer</option>
                                <option value="1">ff
                                {{!-- <input type="checkbox" id="coding" name="interest" value="coding"> --}}
                                Coding
                                </option>
                                {{!-- {{#each employers}}
                                <option value="{{employer_id}}">{{company.name}}</option>
                                {{/each}} --}}
                            </select>


                            

{{!-- https://codepen.io/elmahdim/pen/hlmri --}}


                            <legend>Choose your interests</legend>
                            <div>
                                <input type="checkbox" id="coding" name="interest" value="coding">
                                <label for="coding">Coding</label>
                            </div>
                            <div>
                                <input type="checkbox" id="music" name="interest" value="music">
                                <label for="music">Music</label>
                            </div>
                            <div>
                                <input type="checkbox" id="art" name="interest" value="art">
                                <label for="art">Art</label>
                            </div>
                            <div>
                                <input type="checkbox" id="sports" name="interest" value="sports">
                                <label for="sports">Sports</label>
                            </div>
                            <div>
                                <input type="checkbox" id="cooking" name="interest" value="cooking">
                                <label for="cooking">Cooking</label>
                            </div>
                            <div>
                                <input type="checkbox" id="other" name="interest" value="other">
                                <label for="other">Other</label>
                                <input type="text" id="otherValue" name="other">
                            </div>
                            <div>
                                <button type="submit">Submit form</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var name = ['joe', 'mary', 'rose'];
        $.map(name, function (x) {
            return $('.multiselect').append("<option>" + x + "</option>");
        });

        $('.multiselect')
            .multiselect({
                allSelectedText: 'All',
                maxHeight: 200,
                includeSelectAllOption: true
            })
            .multiselect('selectAll', true)
            .multiselect('updateButtonText');
    });
</script>

<script type="text/javascript">
    var arr = document.getElementById("eee").value;

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        /*
        var data = google.visualization.arrayToDataTable([
          ["Element", "Density", { role: "style" } ],
          ["Copper", 8.94, "#b87333"],
          ["Silver", 10.49, "silver"],
          ["Gold", 19.30, "gold"],
          ["Platinum", 21.45, "color: #e5e4e2"]
        ]);
        */
        //arr = typeof arr == 'string' ? [arr] : arr;
        //console.log(typeof (arr));
        //console.log(arr)
        var data = google.visualization.arrayToDataTable(JSON.parse(arr)
           /* [
            ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General',
                'Western', 'Literature'],
            ['2010', 10, 24, 20, 32, 18, 5],
            ['2020', 16, 22, 23, 30, 16, 9],
            ['2030', 28, 19, 29, 30, 12, 13]
        ]*/

        );


        var view = new google.visualization.DataView(data);
        /*view.setColumns([0, 1, 
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);*/
        /*
                var options = {
                    title: "Density of Precious Metals, in g/cm^3",
                    width: 600,
                    height: 400,
                    bar: { groupWidth: "95%" },
                    legend: { position: "none" },
                };
        */
        var options = {
            width: 600,
            height: 600,
            legend: { position: 'top', maxLines: 3 },
            bar: { groupWidth: '75%' },
            isStacked: true
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values1"));
        chart.draw(view, options);
    }
</script>