<style>
    .panel-style {
        width: 196px;
        background: cyan;
        height: 400px
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" id="eee" value={{{data1}}} />
                    <div id="barchart_values1" style="width: 900px; height: 600px;"></div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default panel-style">
                        <div class="panel-body">
                            <div class="example1">
                                <div>
                                    <input type="checkbox" name="selectall1" id="selectall1" onclick="toggle(this)" class="all">
                                    <label for="selectall1">Select all</label>
                                </div>
                                <div>
                                    <input type="checkbox" class="chk" name="check[]" onclick="checkBoxClick(4)" id="check1" value="1">
                                    <label for="check1">1. checkbox</label>
                                </div>
                                <div>
                                    <input type="checkbox" class="chk" name="check[]" onclick="checkBoxClick(4)" id="check2" value="2">
                                    <label for="check2">2. checkbox</label>
                                </div>
                                <div>
                                    <input type="checkbox" class="chk" name="check[]" onclick="checkBoxClick(4)" id="check3" value="3">
                                    <label for="check3">3. checkbox</label>
                                </div>
                                <div>
                                    <input type="checkbox" class="chk" name="check[]" onclick="checkBoxClick(4)" id="check4" value="4">
                                    <label for="check4">4. checkbox</label>
                                </div>
                            </div>
                            {{!-- https://codepen.io/elmahdim/pen/hlmri --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
		//$('.example1').checkboxall();
</script>
<script type="text/javascript">
    function checkBoxClick(totalChkBoxLen) {
        var val = [];
        $(':checkbox[class=chk]:checked').each(function (i) {
            val[i] = $(this).val();
        });console.log(totalChkBoxLen == val.length)
        if (totalChkBoxLen == val.length) {
            //$('input[name=selectall1]').attr('checked', true);
            $( "#selectall1" ).prop( "checked", true );
        } else {
            //$('input[name=selectall1]').attr('checked', false);
            //$("#selectall1").removeAttr('checked')
            $( "#selectall1" ).prop( "checked", false );
        }
        console.log(val.join());


    }

    function toggle(source) {
        checkboxes = document.getElementsByClassName('chk');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function checkBoxAllClick(val) {
        $('input[type="checkbox"]').click(function () {
            if ($(this).prop("checked") == true) {
                alert("Checkbox is checked.");
            }
            else if ($(this).prop("checked") == false) {
                alert("Checkbox is unchecked.");
            }
        });
    }
</script>
<script type="text/javascript">
    var arr = document.getElementById("eee").value;

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        /*
        var data = google.visualization.arrayToDataTable([
          ["Element", "Density", { role: "style" } ],
          ["Copper", 8.94, "#b87333"],
          ["Silver", 10.49, "silver"],
          ["Gold", 19.30, "gold"],
          ["Platinum", 21.45, "color: #e5e4e2"]
        ]);
        */
        //arr = typeof arr == 'string' ? [arr] : arr;
        //console.log(typeof (arr));
        //console.log(arr)
        var data = google.visualization.arrayToDataTable(JSON.parse(arr)
            /* [
             ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General',
                 'Western', 'Literature'],
             ['2010', 10, 24, 20, 32, 18, 5],
             ['2020', 16, 22, 23, 30, 16, 9],
             ['2030', 28, 19, 29, 30, 12, 13]
         ]*/

        );


        var view = new google.visualization.DataView(data);
        /*view.setColumns([0, 1, 
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);*/
        /*
                var options = {
                    title: "Density of Precious Metals, in g/cm^3",
                    width: 600,
                    height: 400,
                    bar: { groupWidth: "95%" },
                    legend: { position: "none" },
                };
        */
        var options = {
            width: 600,
            height: 600,
            legend: { position: 'top', maxLines: 3 },
            bar: { groupWidth: '75%' },
            isStacked: true
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values1"));
        chart.draw(view, options);
    }
</script>